#topbar{
    position: absolute;
	float:top;
	top:0;
	/* left: 6%; */
	width:100%;
	height:12.2%;
	background: #1874CD;
	text-align:center;
	/* margin:0 auto; */
	/* align-items: center; */
}
#topbar .tab{
	position: relative;
	background: white;
	top:74.5%;
	width: 100%;
	height:25%;
	color:black;
}
#topbar button{
	margin:3% 0% 3% 0%;/*上右下左*/
	display: block;
    text-align: center;
    text-decoration: none;
	width: 150px;
	border:none;
    color: white ;
	background: #1874CD;
}

#topbar .xmlfileinput-button {

	padding: 4px 10px;
    height: 20px;
    line-height: 20px;
    position: relative;
    cursor: pointer;
    color: #888;
    background: #fafafa;
    border: 1px solid #ddd;
    border-radius: 4px;
    overflow: hidden;
    display: inline-block;
    *display: inline;
    *zoom: 1
}

#topbar .xmlfileinput-button input{
	
	position: absolute;
    font-size: 100px;
    right: 0;
    top: 0;
    opacity: 0;
    filter: alpha(opacity=0);
    cursor: pointer
}

#topbar .xmlfileinput-button:hover{
	color: #444;
    background: #eee;
    border-color: #ccc;
    text-decoration: none
}

#topbar .owlfileinput-button {

	padding: 4px 10px;
    height: 20px;
    line-height: 20px;
    position: relative;
    cursor: pointer;
    color: #888;
    background: #fafafa;
    border: 1px solid #ddd;
    border-radius: 4px;
    overflow: hidden;
    display: inline-block;
    *display: inline;
    *zoom: 1
}

#topbar .owlfileinput-button input{
	
	position: absolute;
    font-size: 100px;
    right: 0;
    top: 0;
    opacity: 0;
    filter: alpha(opacity=0);
    cursor: pointer
}

#topbar .owlfileinput-button:hover{
	color: #444;
    background: #eee;
    border-color: #ccc;
    text-decoration: none
}

#topbar nav{
	position: relative;
	float:left;
	/* margin-left:50px; */
	/* position: relative; */
	position: absolute;
	/* margin:0; */
	top:30%; 
	left:6%;
	margin:0 auto;
	/* margin:0% 10% 0% 10%;上右下左 */
	/* margin-left: auto;
	margin-right: auto; */
}
#topbar img{
	position: relative;
	top:5%;
	left: 0.2%;
	float:left;
	width: 5.5%;
}
#topbar ul{
    padding: 0;
	margin: 0;
	height: 30px;
    list-style-type: none;
}
#topbar ul li{
    float: left;
	position: relative;
	color: white;
	width: 150px;
}
#topbar ul li a,#topbar ul li a:visited{
    text-align: center;
    text-decoration: none;
	padding: 4px 10px;
    height: 20px;
    line-height: 20px;
    position: relative;
    cursor: pointer;
    color: #888;
    background: #fafafa;
    border: 1px solid #ddd;
    border-radius: 4px;
    overflow: hidden;
    display: inline-block;
    *display: inline;
    *zoom: 1	
}

#topbar ul li a:hover{
	color: #444;
    background: #eee;
    border-color: #ccc;
    text-decoration: none
}

#topbar .tablabel{
	position: relative;
	left:1%;
	color: black;
}



#drawingboard{
    background:white;
	position: absolute;
	top:9.1%;
	left:0;
	width:83%;
	height:90.9%;
	float: center;
}
#drawingboard ul,li{
	margin:0px;
	padding:0px;
}
#drawingboard .tab{
	position: relative;
	top:0%;
	left:0;
	width:100%;
	height:3.4%;
	background:white;
}
#drawingboard ul li{
	position: relative;
	min-width: 3%;
	height: 28px;
	text-align:center;
	list-style-type:none;
	float:left;
	display: block;
	
	padding: 4px 10px;
    height: 20px;
    line-height: 20px;
    position: relative;
    cursor: pointer;
    color: #888;
    background: #fafafa;
    border: 1px solid #ddd;
    border-radius: 4px;
    overflow: hidden;
}
#drawingboard ul li:hover{
	opacity: 0.5;      
	display: block;
	cursor: pointer;
}
#drawingboard .content{
	position: relative;
	top:0;
	left:0;
	width:100%;
	height:96.5%;
	float:left;
	display:none;
}
