<div>
	<ul>
		<li class="title">&nbsp;icon</li>
		<li>
			<button>
				<img src="assets/icons/start.png">
			</button>
		</li>
		<li>
			<button>
				<img src="assets/icons/end.png">
			</button>
		</li>
		<li>
			<button>
				<img src="assets/icons/decision.png">
			</button>
		</li>
		<li>
			<button>
				<img src="assets/icons/merge.png">
			</button>
		</li>
		<li>
			<button>
				<img src="assets/icons/branch.png">
			</button>
		</li>
		<li>
			<button>
				<img src="assets/icons/BehInt.png">
			</button>
		</li>
		<li>
			<button>
				<img src="assets/icons/ExpInt.png">
			</button>
		</li>
		<li>
			<button>
				<img src="assets/icons/hong.png">
			</button>
		</li>
		<li>
			<button>
				<img src="assets/icons/lan.png">
			</button>
		</li>
		<li>
			<button>
				<img src="assets/icons/lv.png">
			</button>
		</li>
		<li>
			<button>
				<img src="assets/icons/cheng.png">
			</button>
		</li>
		<li>
			<button>
				<img src="assets/icons/zi.png">
			</button>
		</li>
	</ul>	
</div>