.all{
	position: absolute;
	top:12.2%;
	right: 0;
	/* left:93%; */
	width:17%;
	height:87.8%;
	background: #1874CD;
	float:right;
	/* overflow-y:auto; 
	overflow-x:auto; */
	white-space: nowrap;
	color:white;
}
button{
	position: relative;
	margin:0% 35% 8% 35%;/*иосробвС*/
	
	display: inline-flex;
	align-items: center;
	padding: 8px 16px;
	border-radius: 2px;
	font-size: 14px;
	cursor: pointer;
	background-color: GhostWhite;
	border: none;
}
button:hover {
	background-color:lavender;
  	/* opacity: 0.8; */
  	font-weight: normal;
}

button:disabled {
  	/* opacity: 0.5; */
  	cursor: auto;
}
span { 
	position:relative; 
	/* right:10px;  */
	/* top:8px;  */
	cursor: pointer; 
	width: 100%;
	background: #36648B;
}
ul{
    padding: 0;
	margin: 0;
    list-style-type: none;
}
ul li ul li ul li{
	position:relative; 
	left:11%;
}
.title{
	position:relative; 
	width:100%;
	background: #36648B;
	margin-bottom:1px;
	cursor: pointer;
}
.content{
	position:relative; 
	/* width:100%; */
	background:#1874CD;
	cursor: default;
	overflow-x:auto;
	overflow-y:auto;
}