<div id = "drawingboard">
	<div class="tab">
		<ul>
			<li *ngFor="let diagram of diagrams;let i = index" id = "lm{{i + 1}}" (click) = "change_Menu(i + 1)">{{diagram.title}} : {{diagram.machineName}}</li>
			<li id = "AddConstraint" (click) = "showConstraintDialog()">Add Constraint</li>
		</ul>
	</div>
	<div *ngFor="let diagram of diagrams;let i = index" class="content" id="content{{i + 1}}"></div>
</div>
<!--
	<app-topbar id = "topbar"></app-topbar>
<app-rightbar id = "rightbar"></app-rightbar>
-->