<div id="loadporject">
    <details>
        <summary>asset</summary>
        <details>
          <summary (click) = "getFileList(asset)">Nested</summary>
          <p>lolwat</p>
          <details>
            <summary>Nested</summary>
            <p>lolwat</p>
          </details>
        </details>
        <details>
          <summary>Nested</summary>
          <p>lolwat</p>
        </details>
        <details>
          <summary>Nested</summary>
          <p>lolwat</p>
        </details>
        <p>lolwat</p>
      </details>
</div>