<div id="loadProject" class="loadProject">  
  <div class="table">
   <span class="label">OpenProject:</span>
   <button class="close" (click) = "goBack()">X</button>
  </div> 
  <div class="showPro">
   <form id="op">
    <ul *ngFor="let folder of folderlist">
     <li [class.selected]="selectedFolder===folder" (click)="gerVersionList(folder)">{{folder}}
      <ul *ngIf="folder === selectedFolder">
       <li *ngFor="let version of versionlist"><label><input type="radio" name="project" id="version" value="{{version}}">{{version}}</label></li>
      </ul>
     </li>
    </ul>
   </form>
  </div>
    <div style="position: absolute;bottom:10px;">
   <button class="button" (click)="loadProject()">Open</button>
   <button class="button" (click) = "goBack()">Cancel</button>
    </div>
    </div>
