<div id="loadporject">
    <form>
      <details>
        <summary>project</summary>
          <select name="projects" [(ngModel)]="selectedFolder">
            <ng-container *ngFor="let folder of folderlist">
                <option value="{{folder}}">{{folder}}</option>
            </ng-container>
          </select>
     </details>
    <input type="submit" value="Submit" (click) = "loadProject()">
    <input type="submit" value="Cancel" (click) = "goBack()">
    </form>
        <!--
        <details>
          <summary (click) = "getFileList(asset)">Nested</summary>
          <p>lolwat</p>
          <details>
            <summary>Nested</summary>
            <p>lolwat</p>
          </details>
        </details>
        <details>
          <summary>Nested</summary>
          <p>lolwat</p>
        </details>
        <details>
          <summary>Nested</summary>
          <p>lolwat</p>
        </details>
        <p>lolwat</p>
      </details>
      -->
</div>